body {
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    /* align-items: center;
    justify-content: center; */
    
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2); 
}

header {
    display: flex;
    /* position: sticky !important; */
    /* top: 0; */
    background-color: #0078d4;
    width: 100%;
}
nav {
   display: flex;
   background-color: var(--primary-color);
   justify-content: space-between;
   align-items: center;
}
.brands-wrapper {
   display: flex;
   align-items: center;
   gap: 10px;
} 
.brand-name {
   color: #fff;
   font-size: 12px;
   font-weight: 900;
}


.baba-ijebu {
   color: #f5f5dc;
   padding: 5px;
   text-shadow: 1px 1px #444;
   border-radius: 5px;
   font-size: 16px;
}
.app-link-wrapper a {
   color: #fff;
   display: block;
   text-align: right;
   margin: 0 20px auto 0;
}


/* MAIN */
.card-container {
    position: relative;
    perspective: 1000px;
}

.card {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: calc(100% - 200px); */
    /* background: white; */
    /* border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 30px; */
    box-sizing: border-box;
    backface-visibility: hidden;
    transition: transform 0.8s ease-in-out; 
    transform-style: preserve-3d;
    
}
/* 
.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 1rem;
    color: #666;
} */

.card.front {
    background-image: url("https://i.postimg.cc/prTjQ3w0/Lotto-shot.webp");
}
.card.front h2,
.card.front p {
    color: #fff;
    background-color: #333;
    margin: 0;
    padding: 0;
} 


.card.back {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-container.flipped .front {
    transform: rotateY(180deg);
}

.card-container.flipped .back {
    transform: rotateY(0deg);
}

.toggle-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    background-color: #0078d4;
    color: white;
    cursor: pointer;
}

/* .lcc-data-main-container {
    overflow: scroll;
} */
.table-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: fit-content;
   margin: 2em auto;
   gap: 2em;
}
.class-name-wrapper {
   position: sticky;
   top: 0;
   color: #fff;
   background-color: #ff0000;
}
.class-name {
   writing-mode: tb;
   padding: 5px;
   transform: rotate(-180deg);
}
tbody {
   background-color: #ffff00;
}
.num {
   color: white;
   background-color: #800080;
}
td {
   padding: 5px;
   text-align: center;
   font-weight: 400;
}

/* FOOTER */
.contact a {
   color: #fff;
   margin: auto 10px;
}